.UserForm {
    width: 100%;
    padding: 1.75rem;
}

.UserFormButton {
    box-shadow: 0 0 .1rem .1rem rgb(255, 255, 255, .5);
    margin: .25rem;
    background-color: rgba(10, 60, 40, .6) !important;
}